In [ ]:
Q1. You have a list of your favorite Marvel superheroes.
heroes=['spider man','thor','hulk','iron man','captain america']
Using this list,
1.find Length of the list
2.Add 'black panther' at the end of this list.
3. You realize that you need to add 'black panther' after 'hulk', so remove it from
the list first and then add it after 'hulk'.
4. Now you don't like thor and hulk because they get angry easily ðŸ™‚. So you
want to remove thor and hulk from the list and replace them with Doctor Strange
(because he is cool).Do that with one line of code.
5. Sort the list in alphabetical order.

In [9]:
heroes=['spider man','thor','hulk','iron man','captain america']
print(len(heroes))
heroes.append('black panther')
print(heroes)
heroes.pop(-1)
heroes.insert(3,'black panther')
print(heroes)
heroes.remove('thor'),heroes.remove('hulk'),heroes.append('doctor Strange')
print(heroes)
heroes.sort()
print(heroes)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'black panther', 'iron man', 'captain america', 'doctor Strange']
['black panther', 'captain america', 'doctor Strange', 'iron man', 'spider man']

In [ ]:
Q2. Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
1. Create a list to store the above monthly expenses and using that find out, in
Feb, how many dollars you spent extra compared to January?
2. Find out your total expense in the first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month.
4. Say, June month just finished and your expense is 1980 dollars. Add this item
to our monthly expense list.
5. You returned an item that you bought in the month of April and got a refund of
200$. Make a correction to your monthly expense list based on this.

In [20]:
mo=['jan','feb','mar','april','may']
ex=[2200,2350,2600,2130,2190]
print('in feb dollars you spent extra compared to January are {}'.format(ex[1]-ex[0]))
print('total expense in the first quarter (first three months) of the year are {}'.format(ex[0]+ex[1]+ex[2]))
for i in range (0,len(ex)-1):
    if i==2000:
        print('you spent exactly 2000 dollars in ',mo(i))
print("you didn't spent exactly 2000 dollars in any month")
mo.append('june'),ex.append(1980)
ex[3]=2330
print(mo,ex)

in feb dollars you spent extra compared to January are 150
total expense in the first quarter (first three months) of the year are 7150
you didn't spent exactly 2000 dollars in any month
['jan', 'feb', 'mar', 'april', 'may', 'june'] [2200, 2350, 2600, 2330, 2190, 1980]

In [ ]:
Q3.
a. Write a program to add item 7000 after 6000 in the following Python List:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
b. Now that you have a nested list from the above output. Write a program to extend it
by adding a sublist ["h", "i", "j"] in such a way that output will look like the following list
below.
Expected Output :
[10, 20, [300, 400, [5000, 6000, 7000,"h", "i", "j"], 500], 30, 40]
c.Access value 20 from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [28]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)
list1[2][2].append('h'),list1[2][2].append('i'),list1[2][2].append('j')
print(list1)
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
[10, 20, [300, 400, [5000, 6000, 7000, 'h', 'i', 'j'], 500], 30, 40]
20

In [ ]:
Q4. Difference between List and Tuple with proper example and why to use tuple when
we have list?

In [35]:
#we cannot change values in tuple
l1=[1,2,3]
l1.append(4)
print(l1)
t1=(1,2,3)
#we cannot change in tuple

[1, 2, 3, 4]