In [ ]:
1. What is a set in Python? How is it different from other data structures like
lists or tuples? Explain with examples.

lists are mutable,ordered,replaceble or changable
sets are mutable,unordered,cannot be replaced or changed but we can add remove or add new items
tuple immutable,ordered,cannot be replaced or changed

In [1]:
l=[1,2,3]
l[0]=0
l

[0, 2, 3]

In [2]:
s={1,2,3}
s2={3,4,5}
s.update(s2)
s

{1, 2, 3, 4, 5}

In [6]:
t=(1,2,3)
t.index(2)

1

In [ ]:
2. What is the difference between set.pop() and list.pop()? Explain with
examples.

In [7]:
s={1,2,3}
s.pop()
print(s)
#set.pop will remove random element
l=[1,2,3]
l.pop()
l
#list.pop will remove the last element

{2, 3}

[1, 2]

In [ ]:
3. Given the set S = {1, 2, 3, 4, 5, 76, 32, 65}, apply all built-in set functions to
this example

In [15]:
s = {1, 2, 3, 4, 5, 76, 32, 65}
a={4,5,6}
s.add(75)
s

{1, 2, 3, 4, 5, 32, 65, 75, 76}

In [16]:
s = {1, 2, 3, 4, 5, 76, 32, 65}
a={4,5,6}
s.update(a)
s

{1, 2, 3, 4, 5, 6, 32, 65, 76}

In [23]:
s = {1, 2, 3, 4, 5, 76, 32, 65}
s.discard(65)
s

{1, 2, 3, 4, 5, 32, 76}

In [24]:
s = {1, 2, 3, 4, 5, 76, 32, 65}
s.remove(65)
s

{1, 2, 3, 4, 5, 32, 76}

In [25]:
s.pop()
s

{1, 2, 3, 4, 5, 76}

In [ ]:
4. Update the first set with items that don't exist in the second set.
s1={150,200,400}
s2={200,750,650}
Expected output: s1={150,400}

In [26]:
s1={150,200,400}
s2={200,750,650}
x=s1.difference(s2)
x

{150, 400}

In [ ]:
5. Define a set S = {apple, banana, cherry, orange}. Use Python set methods to
add a new fruit 'grape' to S, remove 'banana' from S, and check the length of
S.

In [28]:
s = {'apple', 'banana',' cherry', 'orange'}
s.add('grape')
s.remove('banana')
print(len(s))
print(s)

4
{'apple', 'orange', ' cherry', 'grape'}

In [ ]:
6. dict = {“name1_marks” : [34,56,87,89], “name2_marks” : [78,98,54,34],
“name3_marks” : [87,65,97,90]} add the marks 97 in “name1_marks”.
Expected output : {“name1_marks” : [34,56,87,89, 97], “name2_marks” :
[78,98,54,34], “name3_marks” : [87,65,97,90]}

In [29]:
d1={'name1_marks': [34,56,87,89], 'name2_marks' : [78,98,54,34],'name3_marks' : [87,65,97,90]}
d1['name1_marks']=[34,56,87,89,97]
d1

{'name1_marks': [34, 56, 87, 89, 97],
 'name2_marks': [78, 98, 54, 34],
 'name3_marks': [87, 65, 97, 90]}

In [ ]:
7. Create a dictionary with key-value pairs for a person's name and age.
a. Add a new key-value pair "city" with the value "Delhi" to the person
dictionary.
b. Remove the last key-value pair from the person dictionary.
c. Include {"Car_color": "White"} in the person's dictionary.

In [31]:
person={'name':'mark','age':26}
person.setdefault('city','delhi')
print(person)
person.popitem()
print(person)
person.setdefault("Car_color", "White")
print(person)

{'name': 'mark', 'age': 26, 'city': 'delhi'}
{'name': 'mark', 'age': 26}
{'name': 'mark', 'age': 26, 'Car_color': 'White'}

In [ ]:
8.
Initialize dictionary with default values.
Say,
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
Expected Output:
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation':
'Developer', 'salary': 8000}}

In [33]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
x=dict.fromkeys(employees,defaults)
x

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}