In [3]:
l1=[3,7,9,2,5]
print(l1[2])
l1.insert(1,10)
l1

9

[3, 10, 7, 9, 2, 5]

In [ ]:
t1=(4,8,12,16)
#cannot change values in tuple

In [14]:
nums=[1,5,9,14]
print(5 in nums)

True

In [6]:
l2=[1,2,3,4,5,6,7,8,9,10]
l2[4:8]

[5, 6, 7, 8]

In [10]:
l2.insert(8,26)
l2.insert(9,2001)
l2[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 26, 2001]

In [13]:
l3=['red','green','blue']
l3.append('yellow')
l3.pop(2)
l3

['red', 'green', 'yellow']

In [16]:
l4=[12,24,36,48,60]
print(l4[-1])
print(l4[-3])

60
36

In [21]:
l5=[1,2,3]
l6=[4,5,6]
com_list=l5+l6
print(com_list)
com_list.sort(reverse=True)
print(com_list)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [22]:
co_ord=(3,4,5)
x=co_ord[0]
y=co_ord[1]
z=co_ord[2]
print(z)

5

# another day

In [1]:
dic1={'name':['nick','jon','mark','dan'],'age':[30,31,32,33],'place':['hyd','goa','ny','la']}
dic1

{'name': ['nick', 'jon', 'mark', 'dan'],
 'age': [30, 31, 32, 33],
 'place': ['hyd', 'goa', 'ny', 'la']}

In [3]:
student={'name':['nick','jon','mark','dan'],'grade':[30,31,32,33],'age':[14,14,15,14]}
student['age']=[16,16,16,15]
student['school']='dps'
print(student)

{'name': ['nick', 'jon', 'mark', 'dan'], 'grade': [30, 31, 32, 33], 'age': [16, 16, 16, 15], 'school': 'dps'}

In [5]:
'nick' in student['name']

True

In [7]:
student.popitem()
student['collage']='mallareddy collage'

print(student)

{'name': ['nick', 'jon', 'mark', 'dan'], 'grade': [30, 31, 32, 33], 'collage': 'mallareddy collage'}

In [17]:
student.popitem()
student.setdefault('collage','mallareddy collage')

print(student)

{'name': ['nick', 'jon', 'mark', 'dan'], 'grade': [30, 31, 32, 33], 'collage': 'mallareddy collage'}

In [10]:
my={'name':'DTR','age':23,'blood group':'o+'}
my2={'occupation':'unemployed','city':'peddapli','residence':'sulthanabad'}
combo=my|my2
print(combo)

{'name': 'DTR', 'age': 23, 'blood group': 'o+', 'occupation': 'unemployed', 'city': 'peddapli', 'residence': 'sulthanabad'}

In [16]:
my={'name':'DTR','age':23,'blood group':'o+'}
my2={'occupation':'unemployed','city':'peddapli','residence':'sulthanabad'}
combo={**my,**my2}
print(combo)

{'name': 'DTR', 'age': 23, 'blood group': 'o+', 'occupation': 'unemployed', 'city': 'peddapli', 'residence': 'sulthanabad'}

In [13]:
l1=['mark','dan','lan']
l2=[21,22,23]
dic={}
for i in range(len(l1)):
    dic[l1[i]]=l2[i]
print(dic)

{'mark': 21, 'dan': 22, 'lan': 23}

In [15]:
l1=['mark','dan','lan']
l2=[21,22,23]
x=dict.fromkeys(l1,l2)
print(x)

{'mark': [21, 22, 23], 'dan': [21, 22, 23], 'lan': [21, 22, 23]}