# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [7]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [12]:
# Method 1 
nums=[1,2,3,4]
nums.pop(nums.index(3))
print(nums)

[1, 2, 4]

In [13]:
nums=[1,2,3,4]
nums.index(3)

2

In [16]:
# Method 2
nums=[1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [ ]:
# Method 3
nums.

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [19]:
l=[2,3,4]
l.insert(0,1)
l

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [21]:
l.insert(2,'two-and-half')
l

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
# CODE HERE

*convert into list*

In [34]:
phrase = "Don't panic!"
a=list(phrase)
print(a)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [40]:
b=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
c=[]
for i in b:
    if i=="'":
        continue
    elif i=='!':
        continue
    else:
        c.append(i)
print(c)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [44]:
b=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
c=[]
for i in b:
    if (i=="'") or (i=='!'):
        continue
    else:
        c.append(i)
print(c)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [52]:
b=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
c=[]
d=['p','a','n','D']
for i in b:
    if (i=="D") or (i=='p') or (i=='n') or (i=='a'):
        continue
    else:
        c.append(i)
c.insert(1,'n')
c.extend(d)
print(c)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [54]:
e=['p', 'a', 'n', 'D', 'a']
print(''.join(e))

panDa

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [58]:
a=(31, 24, 35, 85)
print(type(a))
print(a)

<class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [59]:
a=list(a)
a.remove(35)
a=tuple(a)
print(a)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [60]:
a=(31, 24, 85)
b=(85,19)
print(a+b)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [68]:
tpl=('i','n','n','o')
'i' in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [69]:
list = ['Hello',100,[],'innomatics']
list[2].append(200)
print(list)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [4]:
# CODE HERE
tpl = ("Innomatics")
tpl=list(tpl)
a=tuple(tpl[::-1])
print(a)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [74]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [77]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
for i in range(len(tpl)):
    a.append(tpl[i]+(100,))
print(a)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [8]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(tpl)):
    tpl[i]=list(tpl[i])
    tpl[i].pop(2)
    tpl[i].append(100)
    tpl[i]=tuple(tpl[i])
print(tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [25]:
a='523665'
a=list(a)
a.sort(reverse=True)
print(a)
if a[0]==a[1]:
    if a[1]==a[2]:
        if a[2]==a[3]:
            if a[3]==a[4]:
                if a[4]==a[5]:
                    print(f'highst number {a[5]}')
                else:
                    print(f'second highest {a[5]} ')
            else:
                print(f'second highest {a[4]} ')
        else:
            print(f'second highest {a[3]} ')
    else:
        print(f'second highest {a[2]} ')
else:
    print(f'second highest {a[1]} ')

['6', '6', '5', '5', '3', '2']
second highest 5

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

In [35]:
a=[12,24,35,70,88,120,155]
b=[j for i,j in enumerate(a) if i!=0 and i!=4 and i!=5]# enumerate will get both indexs and values
print(b)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [36]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[:5],t[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

In [40]:
t=(1,2,3,4,5,6,7,8,9,10)
p=[]
for i in t:
    if i%2==0:
        p.append(i)
p=tuple(p)
print(p)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution
- Lists allow changes: elements can be added, removed, or updated.
- Use lists when you need a collection that might change
- Tuples are immutable, so once created, their content cannot be altered.
- Use tuples for data that should remain constant
- Tuples are more memory-efficient and faster due to their immutability.

### 2. Explain the difference between append() and extend() with examples

# Solution
- append() adds a sigle element to the end of list
- extend() adds multiple elements to the end of list

### 3. Explain the difference between pop() and remove() with examples

# Solution
- pop() method removes and returns an element from the list based on its index.
- Raises IndexError if the index is out of range.
- Returns the removed element.
- remove() method deletes the first occurrence of the specified value from the list.
- It does not return the removed value.
- Raises ValueError if the value is not found.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)