# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
person1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
print(person1)

{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [8]:
list(person1.keys())

['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [9]:
person1.pop('Location')
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [10]:
person2={'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'}
print(person2)

{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [11]:
print(('='*20)+' person1 '+('='*20))
print(person1)
print(('='*20)+' person2 '+('='*20))
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [6]:
# CODE HERE

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [14]:
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
d1.pop(1)
d1

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [15]:
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
d1.popitem()
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [18]:
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
d1.clear()
d1

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [2]:
d2={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
d=dict(sorted(d2.items(),reverse=True))
d

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [24]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
a=dict1|dict2|dict3
print(a)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [25]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [26]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [27]:
d={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
d.pop('Location')
d['Area']='Nizampet, Hyderabad'
print(d)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [28]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
a=input('enter name ')
b=int(input('enter password '))
if a in database.keys():
    if b ==database[a]:
        print(f'hello {a}')
    else:
        print("passwoed doesn't match")
else:
    c=input('username and password doesnot match, ask, you want me to add into the database please answer (yes) or (no) ')
    if c=='yes':
        database[a]=b
        print(database)
    else:
        print('thank you')

enter name  ram
enter password  1234

hello ram

In [30]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
a=input('enter name ')
b=int(input('enter password '))
if a in database.keys():
    if b ==database[a]:
        print(f'hello {a}')
    else:
        print("passwoed doesn't match")
else:
    c=input('username and password doesnot match, ask, you want me to add into the database please answer (yes) or (no) ')
    if c=='yes':
        database[a]=b
        print(f'you are added to database {database}')
    else:
        print('thank you')

enter name  DTR
enter password  4567
username and password doesnot match, ask, you want me to add into the database please answer (yes) or (no)  yes

you are added to database {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'DTR': 4567}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)