# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [11]:
#CODE HERE

minute : 53
This is Odd minute

In [2]:
from datetime import datetime
n=datetime.now()
h=n.hour
m=n.minute
if m%2==0:
    print(f'minute : {m}')
    print('This is even minute')
else:
    print(f'minute : {m}')
    print('This is odd minute')

minute : 8
This is even minute

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [12]:
#CODE HERE

Today is : Sunday
Take Rest.

In [3]:
from datetime import datetime
today = datetime.now().strftime('%A')#retrieves the full name of the current day
if today == 'Saturday':
    print("Party !!!")
elif today == 'Sunday':
    print("Take rest")
else:
    print("Work, work, work")

Work, work, work

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
for i in range(2000,3201):
    if (i%7==0) and (i%5!=0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [14]:
#CODE HERE

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [15]:
#CODE HERE

Enter the value to compute the factorial: 8
8! = 40320

In [11]:
a=int(input('Enter the value to compute the factorial :'))
l=1
for i in range(1,a+1):
    l*=i
print(f'{a}! = {l}')

Enter the value to compute the factorial : 8

8! = 40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [16]:
#CODE HERE

Enter the value: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [12]:
a=int(input('Enter the value:'))
d={}
for i in range(1,a+1):
    d[i]=i*i
print(d)

Enter the value: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [18]:
#CODE HERE

Please enter the value : 8
Please enter the value : 6
Enter the keyword {add, sub, mul, div, pow}:pow
==============================
Power of 8 by 6 is : 262144

In [13]:
a=int(input('Please enter the value : '))
b=int(input('Please enter the value : '))
c=input('Enter the keyword {add, sub, mul, div,power} : ')
if c=='add':
    print(f'addition of both numbers is {a+b}')
elif c=='sub':
    print(f'subtraction of both numbers is {a-b}')
elif c=='mul':
    print(f'multiplication of both numbers is {a*b}')
elif c=='div':
    print(f'divition of both numbers is {a/b}')
elif c=='power':
    print(f'power of both numbers is {a**b}')
else:
    print('invalid input')

Please enter the value :  8
Please enter the value :  6
Enter the keyword {add, sub, mul, div,power} :  power

power of both numbers is 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [3]:
# CODE HERE
word = input("ENter the text: ")

ENter the text: innomatics1231239746
Digit - 10
Letter - 10

In [14]:
word = input("ENter the text: ")
l=0
for i in word:
    if i.isalpha():
        l+=1
print(f'Digits - {len(word)-l}')
print(f'Letters - {l}')

ENter the text:  Hello321Bye360

Digits - 6
Letters - 8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [1]:
# METHOD - 1

1 2 3 4 5
6 7 8 9 10

In [15]:
t=(1,2,3,4,5,6,7,8,9,10)
f=''.join(map(str,t[:5]))
s=''.join(map(str,t[5:]))
print(f)
print(s)

12345
678910

In [2]:
# METHOD - 2

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [17]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[:5],t[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [3]:
# METHOD - 3

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [18]:
t=(1,2,3,4,5,6,7,8,9,10)
t=list(t)
print(t[:5])
print(t[5:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

In [21]:
t=(1,2,3,4,5,6,7,8,9,10)
a=[]
for i in t:
    if i%2==0:
        a.append(i)
a=tuple(a)
print(a)

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [6]:
text = input("Please type something. --> ")

Please type something. --> yes
Yes

In [22]:
text = input("Please type something. --> ")
if text.lower()=='yes':
    print('Yes')
else:
    print('No')

Please type something. -->  YES

Yes

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [7]:
import random

[139, 188, 145, 194, 143]

In [26]:
import random as rd
c=[rd.randint(100,200) for i in range(5)]
c

[109, 192, 199, 182, 102]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [2]:
import random

50.407397170147895

In [29]:
c=rd.uniform(5,95)
c

65.53828738998178

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [30]:
a=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
b=set(a)
b=list(b)
print(b)

[1, 3, 4, 5, 6, 7, 8]

In [32]:
d={}
for i in b:
    print(f'no.of times {i} existed {a.count(i)}')
    d[i]=a.count(i)

no.of times 1 existed 4
no.of times 3 existed 2
no.of times 4 existed 3
no.of times 5 existed 1
no.of times 6 existed 1
no.of times 7 existed 1
no.of times 8 existed 3

In [44]:
max_key=max(d.values())
for i,j in d.items():
    if j==max_key:
        print(f'number which is occured more number of times is {i}')

number which is occured more number of times is 1

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)