In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\dtrri\bot\PowerGeneration.csv")
df

,Dates,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
0,2017-09-01,Delhi,2235.4,135.00,0.00,135.0,0,13,18,5.00,0.0
1,2017-09-01,Haryana,2720.0,2470.00,0.00,2470.0,0,28,7,-21.80,0.0
2,2017-09-01,Himachal Pradesh,3378.0,379.00,0.00,231.0,0,40,46,5.63,0.0
3,2017-09-01,Jammu and Kashmir,1285.0,150.00,0.00,0.0,0,14,23,9.43,0.0
4,2017-09-01,Punjab,3826.3,2697.65,77.65,2620.0,0,39,17,-21.69,0.0
...,...,...,...,...,...,...,...,...,...,...,...
345268,2022-04-13,Tripura,137.0,32.00,0.00,0.0,32,0,1,0.29,0.0
345269,2022-04-13,NEEPCO.,2027.0,963.50,313.50,650.0,0,0,12,-1.59,0.0
345270,2022-04-13,NHPC,105.0,35.00,0.00,35.0,0,0,0,-0.72,0.0
345271,2022-04-13,NTPC Ltd.,750.0,250.00,0.00,250.0,0,0,11,4.45,0.0
345272,2022-04-13,ONGC,726.6,0.00,0.00,0.0,0,0,13,1.80,0.0

## 1.Which Power Station had the highest total 'Deviation' in 2020?

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345273 entries, 0 to 345272
Data columns (total 11 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Dates                             345273 non-null  object
 1   Power Station                     345273 non-null  object
 2   Monitored Cap.(MW)                345273 non-null  float64
 3   Total Cap. Under Maintenace (MW)  345273 non-null  float64
 4   Planned Maintanence (MW)          345273 non-null  float64
 5   Forced Maintanence(MW)            345273 non-null  float64
 6   Other Reasons (MW)                345273 non-null  int64
 7   Programme or Expected(MU)         345273 non-null  int64
 8   Actual(MU)                        345273 non-null  int64
 9   Excess(+) / Shortfall (-)         345273 non-null  float64
 10  Deviation                         345273 non-null  float64
dtypes: float64(6), int64(3), object(2)
memory usage: 29.0+ MB

In [3]:
df.columns

Index(['Dates', 'Power Station', 'Monitored Cap.(MW)',
       'Total Cap. Under Maintenace (MW)', 'Planned Maintanence (MW)',
       'Forced Maintanence(MW)', 'Other Reasons (MW)',
       'Programme or Expected(MU)', 'Actual(MU)', 'Excess(+) / Shortfall (-)',
       'Deviation'],
      dtype='object')

In [19]:
df['Power Station'].nunique()

182

In [7]:
df['Dates']=(pd.to_datetime(df['Dates']))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345273 entries, 0 to 345272
Data columns (total 11 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Dates                             345273 non-null  datetime64[ns]
 1   Power Station                     345273 non-null  object
 2   Monitored Cap.(MW)                345273 non-null  float64
 3   Total Cap. Under Maintenace (MW)  345273 non-null  float64
 4   Planned Maintanence (MW)          345273 non-null  float64
 5   Forced Maintanence(MW)            345273 non-null  float64
 6   Other Reasons (MW)                345273 non-null  int64
 7   Programme or Expected(MU)         345273 non-null  int64
 8   Actual(MU)                        345273 non-null  int64
 9   Excess(+) / Shortfall (-)         345273 non-null  float64
 10  Deviation                         345273 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(1)
memory usage: 29.0+ MB

In [17]:
df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')]

,Dates,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
147566,2020-01-01,Delhi,2100.4,784.6,0.0,0.0,0,17,11,-5.99,0.0
147567,2020-01-01,Haryana,2720.0,1320.0,0.0,1320.0,0,32,26,-5.25,0.0
147568,2020-01-01,Himachal Pradesh,777.0,115.0,0.0,0.0,0,3,3,-0.46,0.0
147569,2020-01-01,Jammu and Kashmir,1285.0,360.0,0.0,0.0,0,4,3,-0.87,0.0
147570,2020-01-01,Punjab,2701.0,1583.5,243.5,1340.0,0,24,17,-6.86,0.0
...,...,...,...,...,...,...,...,...,...,...,...
219455,2020-03-08,Tripura,169.5,69.0,0.0,21.0,0,1,1,0.22,0.0
219456,2020-03-08,NEEPCO.,1727.0,828.5,328.5,500.0,0,15,12,-2.74,0.0
219457,2020-03-08,NHPC,105.0,0.0,0.0,0.0,0,0,0,-0.07,0.0
219458,2020-03-08,NTPC Ltd.,750.0,0.0,0.0,0.0,0,10,9,-0.63,0.0
219459,2020-03-08,ONGC,726.6,726.6,0.0,363.3,0,13,0,-13.00,0.0

In [20]:
df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31'),['Power Station']].nunique()

Power Station    164
dtype: int64

In [21]:
len(df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')])

64968

In [73]:
df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')].groupby('Power Station')[['Deviation']].sum()

               Deviation
Power Station
ABAN POWR            0.0
ACB                  0.0
ACPL                 0.0
ADHPL                0.0
ADHUNIK              0.0
...                  ...
VESPL                0.0
VIP                  0.0
VVL                  0.0
WPCL                 0.0
West Bengal          0.0

[164 rows x 1 columns]

In [105]:
a=df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')].groupby('Power Station')[['Deviation']].sum()
a.loc[a['Deviation']==a['Deviation'].max()]

               Deviation
Power Station
ABAN POWR            0.0
ACB                  0.0
ACPL                 0.0
ADHPL                0.0
ADHUNIK              0.0
...                  ...
VESPL                0.0
VIP                  0.0
VVL                  0.0
WPCL                 0.0
West Bengal          0.0

[164 rows x 1 columns]

In [106]:
a=df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')].groupby('Power Station')[['Deviation']].sum()
a.loc[a['Deviation']==a['Deviation'].max()].index

Index(['ABAN POWR', 'ACB', 'ACPL', 'ADHPL', 'ADHUNIK', 'AEML', 'AHPC (GVK)',
       'AMNEPL', 'APCPL', 'APGPCL',
       ...
       'Tripura', 'UPCL', 'Uttar Pradesh', 'Uttarakhand', 'VEMAGIRI', 'VESPL',
       'VIP', 'VVL', 'WPCL', 'West Bengal'],
      dtype='object', name='Power Station', length=164)

## 2.What is the average 'Forced Maintenance (MW)' for weekends in 2019?

In [24]:
from datetime import datetime

In [30]:
datetime.now().weekday()

0

In [39]:
def is_weekend(date):
    return date.weekday() in [5, 6]

In [43]:
df['Dates'].apply(is_weekend)

0         False
1         False
2         False
3         False
4         False
          ...
345268    False
345269    False
345270    False
345271    False
345272    False
Name: Dates, Length: 345273, dtype: bool

In [42]:
df.loc[(df['Dates']>='2019-1-1')&(df['Dates']<='2019-12-31')].loc[df['Dates'].apply(is_weekend)]['Forced Maintanence(MW)'].mean()

323.9577622110772

## 3.What is the total number of days in 2020 where 'Total Cap. Under Maintenace (MW)' exceeded 'Monitored Cap.(MW)' ?

In [44]:
df.columns

Index(['Dates', 'Power Station', 'Monitored Cap.(MW)',
       'Total Cap. Under Maintenace (MW)', 'Planned Maintanence (MW)',
       'Forced Maintanence(MW)', 'Other Reasons (MW)',
       'Programme or Expected(MU)', 'Actual(MU)', 'Excess(+) / Shortfall (-)',
       'Deviation'],
      dtype='object')

In [51]:
df.loc[((df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')) &(df['Total Cap. Under Maintenace (MW)']>df['Monitored Cap.(MW)'])]

Empty DataFrame
Columns: [Dates, Power Station, Monitored Cap.(MW), Total Cap. Under Maintenace (MW), Planned Maintanence (MW), Forced Maintanence(MW), Other Reasons (MW), Programme or Expected(MU), Actual(MU), Excess(+) / Shortfall (-), Deviation]
Index: []

In [56]:
df.loc[df['Total Cap. Under Maintenace (MW)']>df['Monitored Cap.(MW)']]

,Dates,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
3158,2017-09-19,SEL,1200.0,2400.0,0.0,2400.0,0,8,0,-8.23,0.0
3335,2017-09-20,SEL,1200.0,2400.0,0.0,2400.0,0,8,0,-8.23,0.0
3512,2017-09-21,SEL,1200.0,2400.0,0.0,2400.0,0,8,0,-8.23,0.0
4043,2017-09-24,SEL,1200.0,2400.0,0.0,2400.0,0,8,0,-8.23,0.0
4220,2017-09-25,SEL,1200.0,2400.0,0.0,2400.0,0,8,0,-8.23,0.0
...,...,...,...,...,...,...,...,...,...,...,...
37611,2018-03-29,SEL,1200.0,1800.0,0.0,1800.0,0,8,5,-3.13,0.0
37788,2018-03-30,PVUNL,0.0,455.0,0.0,455.0,0,2,0,-2.52,0.0
37789,2018-03-30,SEL,1200.0,1800.0,0.0,1800.0,0,8,7,-0.84,0.0
37966,2018-03-31,PVUNL,0.0,455.0,0.0,455.0,0,2,0,-2.52,0.0
37967,2018-03-31,SEL,1200.0,1800.0,0.0,1800.0,0,8,5,-2.33,0.0

```as you can see date ends at 2018 in the dataset so 2020 has no such days where 'Total Cap. Under Maintenace (MW)' exceeded 'Monitored Cap.(MW)'```

## 4.Which Power Station had the highest average 'Planned Maintenance (MW)' during the winter months (December to February) across all years?

In [59]:
datetime.now().month

2

In [60]:
def is_winter(date):
    return date.month in [12,1,2]

In [61]:
df['Dates'].apply(is_winter)

0         False
1         False
2         False
3         False
4         False
          ...
345268    False
345269    False
345270    False
345271    False
345272    False
Name: Dates, Length: 345273, dtype: bool

In [79]:
a=df.loc[df['Dates'].apply(is_winter)].groupby('Power Station')[['Planned Maintanence (MW)']].mean()
a.loc[a['Planned Maintanence (MW)']==a['Planned Maintanence (MW)'].max()]

                 Planned Maintanence (MW)
Power Station
Andhra Pradesh.                730.615385

## 5.What is the median 'Actual (MU)' for each quarter in 2020?

In [83]:
df.columns

Index(['Dates', 'Power Station', 'Monitored Cap.(MW)',
       'Total Cap. Under Maintenace (MW)', 'Planned Maintanence (MW)',
       'Forced Maintanence(MW)', 'Other Reasons (MW)',
       'Programme or Expected(MU)', 'Actual(MU)', 'Excess(+) / Shortfall (-)',
       'Deviation'],
      dtype='object')

In [85]:
df.loc[(df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')].groupby(df['Dates'].dt.to_period('Q'))['Actual(MU)'].median()

Dates
2020Q1    6.0
2020Q2    6.0
2020Q3    6.0
2020Q4    5.0
Freq: Q-DEC, Name: Actual(MU), dtype: float64

## 6.What is the average 'Deviation' in the first quarter (Q1) of 2019?

In [86]:
df.loc[(df['Dates']>='2019-1-1')&(df['Dates']<='2019-12-31')].groupby(df['Dates'].dt.to_period('Q'))['Deviation'].mean()

Dates
2019Q1    0.0
2019Q2    0.0
2019Q3    0.0
2019Q4    0.0
Freq: Q-DEC, Name: Deviation, dtype: float64

## 7.What is the total 'Actual(MU)' generated on weekends (Saturday and Sunday) in 2018?

In [87]:
df.loc[(df['Dates']>='2018-1-1')&(df['Dates']<='2018-12-31')].loc[df['Dates'].apply(is_weekend)]['Actual(MU)'].sum()

342018

## 8.Which Power Station had the highest average 'Excess(+) / Shortfall (-)' in 2019?

In [91]:
a=df.loc[(df['Dates']>='2019-1-1')&(df['Dates']<='2019-12-31')].groupby('Power Station')[['Excess(+) / Shortfall (-)']].mean()
a.loc[a['Excess(+) / Shortfall (-)']==a['Excess(+) / Shortfall (-)'].max()]

               Excess(+) / Shortfall (-)
Power Station
GCEL                            8.262712

## 9.What is the median 'Total Cap. Under Maintenance (MW)' during the monsoon months (June to September) across all years?

In [92]:
def is_monsoon(date):
    return date.month() in [6,7,8,9]

In [97]:
df.loc[df['Dates'].apply(is_winter),['Total Cap. Under Maintenace (MW)']].median()

Total Cap. Under Maintenace (MW)    150.0
dtype: float64

## 10.What is the percentage of days in 2020 where 'Actual(MU)' was less than 'Programme or Expected(MU)'?

In [101]:
d_g=len(df.loc[((df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31')) &(df['Programme or Expected(MU)']>df['Actual(MU)'])])
d_g

20563

In [103]:
t_d=len(df.loc[((df['Dates']>='2020-1-1')&(df['Dates']<='2020-12-31'))])
t_d

64968

In [168]:
print(f'{(d_g/t_d)*100 :0f} %')

31.650967 %

# Make sure you make Date column as Index before answering

In [107]:
df.set_index('Dates',drop=True,inplace=True)
df

,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
Dates,,,,,,,,,,
2017-09-01,Delhi,2235.4,135.00,0.00,135.0,0,13,18,5.00,0.0
2017-09-01,Haryana,2720.0,2470.00,0.00,2470.0,0,28,7,-21.80,0.0
2017-09-01,Himachal Pradesh,3378.0,379.00,0.00,231.0,0,40,46,5.63,0.0
2017-09-01,Jammu and Kashmir,1285.0,150.00,0.00,0.0,0,14,23,9.43,0.0
2017-09-01,Punjab,3826.3,2697.65,77.65,2620.0,0,39,17,-21.69,0.0
...,...,...,...,...,...,...,...,...,...,...
2022-04-13,Tripura,137.0,32.00,0.00,0.0,32,0,1,0.29,0.0
2022-04-13,NEEPCO.,2027.0,963.50,313.50,650.0,0,0,12,-1.59,0.0
2022-04-13,NHPC,105.0,35.00,0.00,35.0,0,0,0,-0.72,0.0
2022-04-13,NTPC Ltd.,750.0,250.00,0.00,250.0,0,0,11,4.45,0.0
2022-04-13,ONGC,726.6,0.00,0.00,0.0,0,0,13,1.80,0.0

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 345273 entries, 2017-09-01 to 2022-04-13
Data columns (total 10 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Power Station                     345273 non-null  object
 1   Monitored Cap.(MW)                345273 non-null  float64
 2   Total Cap. Under Maintenace (MW)  345273 non-null  float64
 3   Planned Maintanence (MW)          345273 non-null  float64
 4   Forced Maintanence(MW)            345273 non-null  float64
 5   Other Reasons (MW)                345273 non-null  int64
 6   Programme or Expected(MU)         345273 non-null  int64
 7   Actual(MU)                        345273 non-null  int64
 8   Excess(+) / Shortfall (-)         345273 non-null  float64
 9   Deviation                         345273 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 29.0+ MB

## 1.Which Power Station had the highest total 'Deviation' in 2020?

In [112]:
df = df.sort_index()

a = df.loc['2020-01-01':'2020-12-31'].groupby('Power Station')[['Deviation']].sum()

a.loc[a['Deviation'] == a['Deviation'].max()]

               Deviation
Power Station
ABAN POWR            0.0
ACB                  0.0
ACPL                 0.0
ADHPL                0.0
ADHUNIK              0.0
...                  ...
VESPL                0.0
VIP                  0.0
VVL                  0.0
WPCL                 0.0
West Bengal          0.0

[164 rows x 1 columns]

## 2.What is the average 'Forced Maintenance (MW)' for weekends in 2019?

In [116]:
df.index.to_series().apply(is_weekend)

Dates
2017-09-01    False
2017-09-01    False
2017-09-01    False
2017-09-01    False
2017-09-01    False
              ...
2022-12-22    False
2022-12-22    False
2022-12-22    False
2022-12-22    False
2022-12-22    False
Name: Dates, Length: 345273, dtype: bool

In [118]:
filtered_df = df.loc['2019-01-01':'2019-12-31']
weekend_df = filtered_df.loc[filtered_df.index.to_series().apply(is_weekend)]
mean_forced_maintenance = weekend_df['Forced Maintanence(MW)'].mean()

print(mean_forced_maintenance)

323.95776221107724

## 3.What is the total number of days in 2020 where 'Total Cap. Under Maintenace (MW)' exceeded 'Monitored Cap.(MW)' ?

In [120]:
df = df.sort_index() 

filtered_df = df.loc['2020-01-01':'2020-12-31'] 
result = filtered_df[filtered_df['Total Cap. Under Maintenace (MW)'] > filtered_df['Monitored Cap.(MW)']]

print(result)

Empty DataFrame
Columns: [Power Station, Monitored Cap.(MW), Total Cap. Under Maintenace (MW), Planned Maintanence (MW), Forced Maintanence(MW), Other Reasons (MW), Programme or Expected(MU), Actual(MU), Excess(+) / Shortfall (-), Deviation]
Index: []

In [121]:
df.sort_index().loc['2020-01-01':'2020-12-31'].query("`Total Cap. Under Maintenace (MW)` > `Monitored Cap.(MW)`")

Empty DataFrame
Columns: [Power Station, Monitored Cap.(MW), Total Cap. Under Maintenace (MW), Planned Maintanence (MW), Forced Maintanence(MW), Other Reasons (MW), Programme or Expected(MU), Actual(MU), Excess(+) / Shortfall (-), Deviation]
Index: []

## 4.Which Power Station had the highest average 'Planned Maintenance (MW)' during the winter months (December to February) across all years?

In [122]:
df = df.sort_index()  


a = df.loc[df.index.to_series().apply(is_winter)].groupby('Power Station')[['Planned Maintanence (MW)']].mean()


a.loc[a['Planned Maintanence (MW)'] == a['Planned Maintanence (MW)'].max()]

                 Planned Maintanence (MW)
Power Station
Andhra Pradesh.                730.615385

In [123]:
a.loc[[a['Planned Maintanence (MW)'].idxmax()]]

                 Planned Maintanence (MW)
Power Station
Andhra Pradesh.                730.615385

## 5.What is the median 'Actual (MU)' for each quarter in 2020?

In [127]:
df = df.sort_index()  # Ensure the DatetimeIndex is sorted

# Group by quarter using pd.Grouper and calculate median for 'Actual(MU)'
result = df.loc['2020-01-01':'2020-12-31'].groupby(pd.Grouper(freq='Q'))['Actual(MU)'].median()

print(result)

Dates
2020-03-31    6.0
2020-06-30    6.0
2020-09-30    6.0
2020-12-31    5.0
Freq: QE-DEC, Name: Actual(MU), dtype: float64

C:\Users\dtrri\AppData\Local\Temp\ipykernel_7060\3580364944.py:4: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  result = df.loc['2020-01-01':'2020-12-31'].groupby(pd.Grouper(freq='Q'))['Actual(MU)'].median()

In [130]:
df.loc['2020-01-01':'2020-3-31',['Actual(MU)']].median()

Actual(MU)    6.0
dtype: float64

In [132]:
df.loc['2020-04-01':'2020-6-30',['Actual(MU)']].median()

Actual(MU)    6.0
dtype: float64

In [134]:
df.loc['2020-07-01':'2020-9-30',['Actual(MU)']].median()

Actual(MU)    6.0
dtype: float64

In [135]:
df.loc['2020-10-01':'2020-12-31',['Actual(MU)']].median()

Actual(MU)    5.0
dtype: float64

## 6.What is the average 'Deviation' in the first quarter (Q1) of 2019?

In [138]:
df.loc['2019-1-1':'2019-3-31',['Deviation']].mean()

Deviation    0.0
dtype: float64

## 7.What is the total 'Actual(MU)' generated on weekends (Saturday and Sunday) in 2018?

In [149]:
df=df.sort_index()
filter_df=df.loc[df.index.to_series().apply(is_weekend)]
filter_df.loc['2018-1-1':'2018-12-31']['Actual(MU)'].sum()

342018

## 8.Which Power Station had the highest average 'Excess(+) / Shortfall (-)' in 2019?

In [151]:
df=df.sort_index()
a=df.loc['2019-1-1':'2019-12-31'].groupby('Power Station')[['Excess(+) / Shortfall (-)']].mean()
a.loc[a['Excess(+) / Shortfall (-)']==a['Excess(+) / Shortfall (-)'].max()]

               Excess(+) / Shortfall (-)
Power Station
GCEL                            8.262712

## 9.What is the median 'Total Cap. Under Maintenance (MW)' during the monsoon months (June to September) across all years?

In [152]:
df.loc[df.index.to_series().apply(is_winter),['Total Cap. Under Maintenace (MW)']].median()

Total Cap. Under Maintenace (MW)    150.0
dtype: float64

In [171]:
df.loc[df.index.to_series().apply(is_winter),['Total Cap. Under Maintenace (MW)']]

            Total Cap. Under Maintenace (MW)
Dates
2017-12-01                               0.0
2017-12-01                               0.0
2017-12-01                             750.0
2017-12-01                               0.0
2017-12-01                            1381.0
...                                      ...
2022-12-22                               0.0
2022-12-22                             515.0
2022-12-22                             600.0
2022-12-22                             120.0
2022-12-22                             960.0

[84143 rows x 1 columns]

## 10.What is the percentage of days in 2020 where 'Actual(MU)' was less than 'Programme or Expected(MU)'?

In [159]:
df=df.sort_index()
f_df=df.loc['2020-1-1':'2020-12-31']

d_g=len(f_df.loc[(f_df['Programme or Expected(MU)']>f_df['Actual(MU)'])])
d_g

20563

In [160]:
t_d=len(df.loc['2020-1-1':'2020-12-31'])
t_d

64968

In [167]:
print(f'{(d_g/t_d)*100 :0f} %')

31.650967 %

In [170]:
df = df.sort_index()

a = df.loc['2020-01-01':'2020-12-31'].groupby('Power Station')[['Actual(MU)']].sum()

a.loc[a['Actual(MU)'] == a['Actual(MU)'].max()]

               Actual(MU)
Power Station
NTPC Ltd.          269772