In [1]:
comment # or ''' ''''(multy line)

NameError: name 'comment' is not defined

In [ ]:
!python --version

In [ ]:
: suuuuu....

In [ ]:
controll if elif else for while break continue pass match case

In [ ]:
exception handeling try except finally raise assert with as

In [ ]:
fuction def return lambda yield class

In [ ]:
boolean and comparison True False None (cap 1st letter) and or not is in

In [ ]:
import from as (module management keywords)

In [ ]:
oops class self init

In [ ]:
import keyword (libery)

In [ ]:
'''assign 3 variables and add them'''
#happy birthday to you and i assigned and added 3 numbers
n1,n2,n3=1,2,3
print(n1+n2+n3)

In [ ]:
'''take two numbers and find sum,diff,product divi,floor div,reminder and store results'''
n1,n2=4,2
print(n1+n2,n1-n2,n1*n3,n1/n2,n1//n2,n1%n2)

In [ ]:
'''assign vaue 2 to a variavle it exponents of order(2,3,4,5) and store them in respective variable'''
#used for loop to do the above assigned work
n1=2
b=(2,3,4,5)
for i in b:
    x=n1**i
    print(f"if {n1} has an exponentiol as {i} result will be {x}")

#**operators**

ARTHEMATIC (+,-,*,/,%.//,**)
LOGICAL (and,or,not)
bitwise (&,!,^,-,==,<<,>>)
membership(in,notin)
identifier(is)
assignment(+=,-=,....)

In [ ]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

In [ ]:
#type conversion
a=1
b=1.7
c=True
d='1'
print(int(b),round(b),int(d),str(c),float(a))

In [ ]:
x=int(input('happy birthday :'))

In [ ]:
#conditional statement
if,if-else,elif,nested if and if-else,elif ladder

In [ ]:
if (1>5):
    hdsadfkl
elif(2>3):
    dgfsjk
else:
    print('bot')

In [ ]:
if (1<=1):
    print("1")
    if (2==2):
        print(2)
        if (3==3):
            print(3)
            if(4==4):
                print(4)
else:
    print('bot')

In [ ]:
x='dfjf'
x

In [ ]:
print('hkljahsf',end='-')
print('kjasfhk')

In [ ]:
#concatination of strings
s1=str(input())
s2='happy childerns day'
#adding
print(s1+' '+s2)
#multi
print((s1+' ')*5)

In [ ]:
from IPython import display
display.Image("./Screenshot 2024-11-14 095940.png")

In [ ]:
st1='string'
print(st1[0:])
print(st1.index('g'))

In [ ]:
st1='dtrrrrrr'
print(len(st1))
print(st1.upper())
print(st1.lower())
print(st1.count('r'))
print(st1.capitalize())
print(st1.title())
print(st1.split( ))
print(st1.join('r'))
print(st1.replace('r','q'))
print(st1.strip("r"))
print(st1.isdigit())
print(st1.isalpha())
print(st1.find('r'))#index number is shown

print(st1.startswith('n'))
print(st1.endswith('f'))
print(st1.replace('t',''))

In [ ]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

In [ ]:
dd=('sdf','dsf','fsd')
print(" ".join(dd))

In [ ]:
#format
x,y=123,456
print('jai {} jai {}'.format('nitish','69'))
print('jai {1} jai {0}'.format('nitish','69'))
print(f'jam {x} fruit {y}')

In [ ]:
#bold text
print('\033[1m DTR \033[0m')

In [ ]:
#strings with points cannot be converted into int
x='10.3'
x=float(x)
print(type(x))

In [ ]:
x='10.3'
x=int(x)
print(type(x))

# list

In [ ]:
l1=[1,2,[11,22,[1,2,3,4,5],33,44,55],3,4,5]
l1[2][2][0]

In [ ]:
l1[2:5][0:2]

In [ ]:
l1[2:5]

In [ ]:
l1.append(69)
l1

In [19]:
list1=[1,2,3,4,5]
l2=[1,23,4]

In [20]:
list1

[1, 2, 3, 4, 5]

In [22]:
x=list1.copy()
x

[1, 2, 3, 4, 5]

In [23]:
list1=[1,2,3,4,5]
l2=[1,23,4]

x=list1.copy()
if x==list1:
    x.extend(l2)
print(f'first list{list1},second list {l2} combined list {x}')

first list[1, 2, 3, 4, 5],second list [1, 23, 4] combined list [1, 2, 3, 4, 5, 1, 23, 4]

In [31]:
l1=[1,2,3,4,5,6]
x=l1.index(2)
print(x)
l1[x]=90
l1

1

[1, 90, 3, 4, 5, 6]

In [32]:
l1=[1,2,3,[4,5,6],7]
l1[3][1]=60
l1

[1, 2, 3, [4, 60, 6], 7]

In [34]:
l1[3][1:2]

[60]

In [3]:
list1=[1,2,3,4]
list1.insert(3,44)
list1

[1, 2, 3, 44, 4]

In [4]:
list1.pop(3)
list1

[1, 2, 3, 4]

In [6]:
list2=[21,22,23,24,25]
list2.remove(21)
list2

[22, 23, 24, 25]

In [7]:
list2.clear()
list2

[]

In [9]:
del list2
list2

NameError: name 'list2' is not defined

In [ ]:
list2=[5,6,7,[1,2,3],8,9]
list3=list2.copy()
#won't work for nested list or won't replicate a nested list

In [ ]:
import copy as cpy
list4=list2.deepcopy()

In [10]:
list1=[1,2,3]
list1.reverse()
list1

[3, 2, 1]

In [ ]:
#shows the first occurens of the number
list1.index()

In [ ]:
list1.sort()#accending,
list1.sort(reverse=True)#deccending shift tab to see

In [ ]:
set_1={1,2,3}

In [2]:
s1=set([1,1,22,3])
s1

{1, 3, 22}

In [3]:
s1.add(4)
s1

{1, 3, 4, 22}

In [4]:
s2={5,2,6}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 22}

In [6]:
s3=s1.copy()
s3

{1, 2, 3, 4, 5, 6, 22}

In [16]:
s4={'dad','mad','ap',44,33,22}
print(sorted(s4))

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
s4={'dad','mad','ap'}
s4=set(sorted(s4))
print(s4)

{'ap', 'dad', 'mad'}

In [12]:
#remove will show error if element is not there discord will not
s3.remove(22)
s3

{1, 2, 3, 4, 5, 6}

In [15]:
s3.discard(22)
s3

{1, 2, 3, 4, 5, 6}

In [21]:
s3.pop()#first element will be taken
s3

{2, 3, 4, 5, 6}

In [22]:
s3.pop()
s3

{3, 4, 5, 6}

In [24]:
s3.union(s2)
print(s3)
s3.intersection(s2)
print(s3)
s3.difference(s2)
print(s3)

{3, 4, 5, 6}
{3, 4, 5, 6}
{3, 4, 5, 6}

In [25]:
len(s1)

7

In [26]:
min(s1)

1

In [27]:
max(s1)

22

In [28]:
sum(s1)

43

In [29]:
1 in s1

True

In [30]:
2 not in s1

False

# dict

In [2]:
dict1={'a':1,'b':2}
dic2={'bb':[1,2,3],'b':'c'}
dic2['bb'][1]

2

In [7]:
dict1['c']=3
dict1

{'a': 1, 'b': 2, 'c': 3}

In [15]:
dict1['a']=1.0
dict1

{'b': 2, 'c': 3, 'a': 1.0}

In [38]:
dict1.get('e')#if element is not present will not show error

In [16]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['b', 'c', 'a'])
dict_values([2, 3, 1.0])
dict_items([('b', 2), ('c', 3), ('a', 1.0)])

In [4]:
len(dict1)

2

In [5]:
'a' in dict1

True

In [6]:
d1={'a':1,'b':2,'c':3}
d2={'b':2,'a':1,'c':3}
d1==d2

True

In [13]:
dict1.pop('a')
print(dict1)

{'b': 2, 'c': 3}

In [19]:
#pop last item
d4={'a':1,'s':2,'c':3,'d':4}
d4.popitem()
d4

{'a': 1, 's': 2, 'c': 3}

In [24]:
d4={'a':1,'s':2,'c':3,'d':4}
del d4['s']

In [25]:
d4

{'a': 1, 'c': 3, 'd': 4}

In [27]:
keys=['a','s','d']
values=[1,2,3,4]
di=dict.fromkeys(keys,values)
di

{'a': [1, 2, 3, 4], 's': [1, 2, 3, 4], 'd': [1, 2, 3, 4]}

In [28]:
di['a']=[2,3,4]
di

{'a': [2, 3, 4], 's': [1, 2, 3, 4], 'd': [1, 2, 3, 4]}

In [30]:
#if same kkeys first dic keys will be replaced by dic2 keys
d11={'a':1,'b':3}
d12={'b':2,'c':3}
d11.update(d12)
print(d11)

{'a': 1, 'b': 2, 'c': 3}

In [32]:
#to update but not modifing the dic's  ** 3.5+
fruit={'orange':1,'apple':2}
veg={'some':3,'i dont know':4}
games={'valorent':5,'wuwa':6}
unpacked_dic={**fruit,**veg,**games}
print(unpacked_dic)

{'orange': 1, 'apple': 2, 'some': 3, 'i dont know': 4, 'valorent': 5, 'wuwa': 6}

In [33]:
fruit={'orange':1,'apple':2}
veg={'apple':3,'i dont know':4}
games={'valorent':5,'wuwa':6}
unpacked_dic={**fruit,**veg,**games}  #right one replace the leftone for dupe keys
print(unpacked_dic)

{'orange': 1, 'apple': 3, 'i dont know': 4, 'valorent': 5, 'wuwa': 6}

In [36]:
# | is or operation
fruit={'orange':1,'apple':2}
veg={'apple':3,'i dont know':4}
games={'valorent':5,'wuwa':6}
unpacked_dic=fruit|veg|games  #right one replace the leftone for dupe keys
print(unpacked_dic)

{'orange': 1, 'apple': 3, 'i dont know': 4, 'valorent': 5, 'wuwa': 6}

In [ ]:
#we can add a item to dict
student.setdefault('collage','mallareddy collage')

print(student)

In [24]:
marks=int(input())
if 0<marks and marks<100:
    if marks<=35:
        print('f grade')
    elif 35<marks<=40:
        print('e grade')
    elif 40<marks<=50:
        print('d grade')
    elif 50<marks<=60:
        print('c grade')
    elif 60<marks<=70:
        print('b grade')
    elif 70<marks<=80:
        print('a grade')
    elif 80<marks<=90:
        print('a+ grade')
    elif 90<marks:
        print('distinction')  
else:
    print('enter the valid marks')

 50

d grade

In [35]:
numofstu=int(input())
d={}
for i in range(0,numofstu):
    per=str(input())
    phy=int(input())
    che=int(input())
    mat=int(input())
    
    if (50<phy<=100)and(50<che<=100)and(50<mat<=100):
        d[per]=[phy,che,mat]
        d.update(d)
        print(d)
        
    else:
        print('bot')
print(d)

 2
 a
 55
 66
 77

{'a': [55, 66, 77]}

 b
 66
 66
 66

{'a': [55, 66, 77], 'b': [66, 66, 66]}
{'a': [55, 66, 77], 'b': [66, 66, 66]}

In [ ]:
d[per]['phy']=(phy)
    d[per]['che']=(che)
    d[per]['mat']=(mat)

In [1]:
india=['mumbai','bangalore','chennai','delhi']
pak=['lahore','karachi','islamabad']
bangla=['dhaka','khulna','rangpur']
x=[]
for i in range(0,2):
    city=input()
    if city in india:
        x.append(1)
        print('india')
    elif city  in pak:
        x.append(2)
        print('pak')
    elif city in bangla:
        x.append(13)
        print('bang')
    else:
        print('valid name')

if x[0]==x[1]:
    print('both are in same country')
else:
    print('both cities are not in same country')

 mumbai

india

 dhaka

bang
not

In [4]:
name=input('enter your name: ')
if name.isalpha():
    marks=int(input('enter tour marks: '))
    if 0<marks<160:
        if 97>marks:
            print('nice try')
        elif 97<marks<113:
            print('qualified for level-1 job interview ')
        elif 133<marks:
            print('qualified for level-1 and level-2 job to get a level-2 job you need to take a mains examination for qualification')
    else:
        print('enter valid marks')
else:
    print('enter a valid name')

enter your name:  10

enter a valid name

In [15]:
age=input('enter age:')
tick=1000
if age.isdigit():
    age=int(age)
    if 0<age:
        if age<=5:
            print('free ticket')
        elif 5<age<=12:
            print('50% discount ticket prize is {} '.format(tick*0.5))
        elif 12<age<=18:
            print('25% discount ticket prize is {} '.format(tick*0.75))
        elif 18<age:
             print('full ticket is {}'.format(tick))
    else:
        print('enter a valid age')
else:
    print('enter a age')

enter age: hjfkh

enter a age

In [20]:
a=int(input())
b=int(input())
c=int(input())
if (a + b >= c) or (a + c >= b) or (b + c >= a) :
    if a==b==c:
        print('equilateral triangle')
    elif a==b!=c or a==c!=b or b==c!=a:
        print('isoselecs triangle')
    elif a!=b!=c:
        print('scalene triangle')
    elif ((a**2)==(b**2)+(c**2))   or ((b**2)==(a**2)+(c**2)) or((c**2)==(a**2)+(b**2)):
        print('right angle triangle')
else:
    print('it not a triangle where i live')

 5
 5
 6

isoselecs triangle

In [11]:
x=int(input())
i=0
n=x-1
while(i<x):
    print(' '*(n),'*'*(i*2))
    i+=1
    n-=1

 6

     **
    ****
   ******
  ********
 **********

In [15]:
x=0
while x>=0:
    if x==5:
        x+=1
        continue
    elif x==10:
        break
    elif x>0:
        print(x)
        x+=1
    elif x==0:
        x+=1
        continue

1
2
3
4
6
7
8
9

In [ ]:
x=0
while x>=0:
    if x==5:
        x+=1
        continue
    elif x==10:
        break
    elif x>0:
        print(x)
        x+=1
    elif x==0:
        pass#pass will skip code it is considered place holder

In [20]:
a=[1,2,3,4,5]
for i in range(0,len(a),2):
    print(a[i])

1
3
5

In [5]:
fruit={'orange':1,'apple':2}
for i,j in fruit.items():
    print(i)
    print(j)

orange
1
apple
2

In [6]:
a=[1,2,3,4,5,6,7,8,9,10]
eve=[]
odd=[]
for i in a:
    if i%2==0:
        eve.append(i)
    else:
        odd.append(i)
print(f'even {eve}')
print(f'odd {odd}')

even [2, 4, 6, 8, 10]
odd [1, 3, 5, 7, 9]

In [10]:
n = int(input())
i=1
while i<=n:
    print(i)
    
    if i==n:
        break
    else:
        i+=1

 10

1
2
3
4
5
6
7
8
9
10

In [11]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in a:
    if i%2==0:
        print('Apple')
    else:
        print('Banana')

Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple
Banana
Apple

In [17]:
l1=list(range(14,248+1))
l2=[]
for i in l1:
    if i%4==0:
        l2.append(i)
print(l2)

[16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

In [33]:
l1=list(range(33,100+1))
l2=[]
l2.clear()
for i in l1:
        i%3==0
        l2.append(i)

print(l2)

[33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [34]:
l1=list(range(33,100+1,3))
l1

[33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [42]:
l1=list(range(1,20+1))
y=0
for i in l1:
    y=y+i
print(y)
mean=y/len(l1)
print(mean)
l2=[]
for i in l1:
    l2.append(i**2)
print(l2)

210
10.5
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [41]:
n1=int(input())
n2=0
while type(n1)==int:
    n2+=n1
    n1=int(input())
    if n1==0:
        print(n2)
        break

 10
 20
 0

30

In [69]:
in1=int(input())
if in1>1:
    for i in range(2,(in1//2)+1):
        if in1%i==0:
            print('not prime')
            break
    else:
        print('prime') 
else:
    print('not prime')

 7

prime

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
rows = 3
cols = 3
for i in range(rows):
    for j in range(cols):
        print(numbers[i * cols + j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [7]:
rows = int(input('enter the rows for matrix '))
cols = int(input('enter the cols for matrix '))
numbers = list(range(rows*cols))
print()
for i in range(rows):
    for j in range(cols):
        print(numbers[i * cols + j], end=" ")
    print()

enter the rows for matrix  5
enter the cols for matrix  6

0 1 2 3 4 5
6 7 8 9 10 11
12 13 14 15 16 17
18 19 20 21 22 23
24 25 26 27 28 29

In [8]:
rows = int(input('enter the rows for matrix '))
cols = int(input('enter the cols for matrix '))
numbers = list(range(rows*cols))
print()
i=0
while i<rows:
    j=0
    while j<cols:
        print(numbers[i*cols+j],end=' ')
        j+=1
    print()
    i+=1

enter the rows for matrix  6
enter the cols for matrix  6

0 1 2 3 4 5
6 7 8 9 10 11
12 13 14 15 16 17
18 19 20 21 22 23
24 25 26 27 28 29
30 31 32 33 34 35

In [12]:
start = int(input('Enter the starting range :'))
end = int(input('Enter the ending range :'))
if (start < 0) or (end < 0):
    print('\nYou entered negative values for start and end. Prime numbers are calculated only for positive integers.')
else:
    print()
    while start <= end:
        is_prime = True
        i = 2
        while i < start:
            if start % i == 0:
                is_prime = False
                break
            i += 1
        if is_prime:
            print(f"{start} is a prime number.")
        start += 1

Enter the starting range : 5
Enter the ending range : 20

5 is a prime number.
7 is a prime number.
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.

In [22]:
import time
mins=int(input('enter a time for my ... '))
mins-=1
while mins>=0:
    sec=59
    while sec>=0:
        print(f'{mins:02}:{sec:02}',end="\r")
        sec-=1
        time.sleep(1)
    mins-=1

enter a time for my ...  2

In [16]:
import time
minutes = int(input('Enter countdown minutes :'))
while minutes >= 0:
    seconds = 59
    while seconds >= 0:
        print(f"Countdown : \033[1;32m{minutes:02}:{seconds:02}\033[0m", end = '\r')#'\r' will be use to rewrite the same output
        seconds -= 1
        time.sleep(1)
    minutes -= 1

Enter countdown minutes : 0

In [29]:
i=1
num=int(input())
while i<=num:
    j=1
    while j<=i:
        print(j,end=' ')
        j+=1
    print()
    i+=1

 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
num=int(input())
i=1
while i<=num:
    j=1
    while j<=num:
        print(f'{(i*j):2}',end=' ')
        j+=1
    print()
    i+=1

 5

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [30]:
num=int(input())
i=1
while i<=num:
    print(i*i,end=' ')
    i+=1

 5

1 4 9 16 25

In [31]:
def print_pascal_triangle(n):
    triangle = [[1 for _ in range(i+1)] for i in range(n)]
    for i in range(2, n):
        for j in range(1, i):
            triangle[i][j] = triangle[i-1][j-1] + triangle[i-1][j]
    for row in triangle:
        print(' ' * (n - len(row)), end='')
        for num in row:
            print(num, end=' ')
        print()

# Example usage:
print_pascal_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [32]:
# Print Pascal's Triangle in Python

# input n
n = 5

for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')

    # first element is always 1
    C = 1
    for j in range(1, i+1):

        # first value in a line is always 1
        print(' ', C, sep='', end='')

        # using Binomial Coefficient
        C = C * (i - j) // j
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

# list comprihension

In [2]:
b=[i for i in range(1,42) if i%4==0]
b

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [4]:
b=[i if i%4==0 else 'fuk u' for i in range(1,42)]
b

['fuk u',
 'fuk u',
 'fuk u',
 4,
 'fuk u',
 'fuk u',
 'fuk u',
 8,
 'fuk u',
 'fuk u',
 'fuk u',
 12,
 'fuk u',
 'fuk u',
 'fuk u',
 16,
 'fuk u',
 'fuk u',
 'fuk u',
 20,
 'fuk u',
 'fuk u',
 'fuk u',
 24,
 'fuk u',
 'fuk u',
 'fuk u',
 28,
 'fuk u',
 'fuk u',
 'fuk u',
 32,
 'fuk u',
 'fuk u',
 'fuk u',
 36,
 'fuk u',
 'fuk u',
 'fuk u',
 40,
 'fuk u']

In [7]:
n=int(input())
l1=[j for i in range(1,n+1) for j in range (1,i+1)]
l1

 5

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [14]:
n=int(input())
l1=[j for i in range(1,n+1) for j in range (1,i+1) if j%2!=0 ]
l1

 5

[1, 1, 1, 3, 1, 3, 1, 3, 5]

In [13]:
n=int(input())
l1=[j if j%2!=0 else '2|4' for i in range(1,n+1) for j in range (1,i+1)]
l1

 5

[1, 1, '2|4', 1, '2|4', 3, 1, '2|4', 3, '2|4', 1, '2|4', 3, '2|4', 5]

# dic comprihension

In [18]:
dic={'dan':90,'dan1':80,'dan2':70,'dan3':11,'dan4':164}
dic1={x:'dan' if y%2==0 else 'da dan' for x,y in dic.items()}
dic1

{'dan': 'dan', 'dan1': 'dan', 'dan2': 'dan', 'dan3': 'da dan', 'dan4': 'dan'}

In [20]:
 l1=['hello','world','python','comprehen','list','car','bus','man','lan','can','joyboy']
l2=[i for i in l1 if len(i)>=5]
l2

['hello', 'world', 'python', 'comprehen', 'joyboy']

In [26]:
theDict ={chr(y):y-64 for y in range(65,91)}
print (theDict)

dic2={x:y**2 for x,y in theDict.items()}
dic2

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

{'A': 1,
 'B': 4,
 'C': 9,
 'D': 16,
 'E': 25,
 'F': 36,
 'G': 49,
 'H': 64,
 'I': 81,
 'J': 100,
 'K': 121,
 'L': 144,
 'M': 169,
 'N': 196,
 'O': 225,
 'P': 256,
 'Q': 289,
 'R': 324,
 'S': 361,
 'T': 400,
 'U': 441,
 'V': 484,
 'W': 529,
 'X': 576,
 'Y': 625,
 'Z': 676}

In [1]:
for y in range(65,91):
    print(chr(y),end='')

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [3]:
chr(2)

'\x02'

In [4]:
def goodboy(x):
    print(f'{x} is a good boy')

In [6]:
goodboy('fossil')

fossil is a good boy

In [17]:
def sum1(x,y):
    return (x+y),(x*y),(x-y)# for multy return it will form a tuple

In [18]:
a=sum1(4,5)

In [19]:
sum1(42,55)

(97, 2310, -13)

In [10]:
a

9

In [11]:
b=sum1(10,11)

In [12]:
b

21

In [20]:
a,b,c=sum1(42,55)
print(a)
print(b)
print(c)

97
2310
-13

In [22]:
def nana(a,b=0,c=0,d=0):
    return a+b+c+d
nana(5)

5

In [23]:
nana(b=10,a=50,c=60,d=60)

180

# multy input functions

In [1]:
def sums(*n):
    return sum(n)
sums(1,2,3,4,5,6,7,8,9,10)

55

In [5]:
def nuns(**k):
    for x,y in k.items():
        print(f'{x}={y}')
nuns(name='sanji',trait='bot')

name=sanji
trait=bot

In [8]:
def da(**na):
    dic1={'name':'dan','time':22}
    dic1.update(na)
    print(dic1)
da(name='dandadan',fku='okarun')

{'name': 'dandadan', 'time': 22, 'fku': 'okarun'}

In [12]:
a=1
b=10
def haha(*n):
    global b #global is a keyword that can make any variable global 
    b=20
haha(1)
print(a)
print(b)

1
20

In [14]:
a=1
b=10
def haha(*n):
    #global is a keyword that can make any variable global 
    b=20
haha(1)
print(a)
print(b)

1
10

In [22]:
a=1
def haha(*n):
    b=20
    def nana():
        nonlocal b # nonlocal will take the variable of the before layer
        b=b//2
    nana()
    return b
haha(1)
print(a)
print(b)

1
10

In [23]:
a=1
def haha():
    b=20
    def nana():
        b=b//2 # without nonlocal b cannot be accessed in the inner function
    nana()
    return b
haha()
print(a)
print(b)

UnboundLocalError: cannot access local variable 'b' where it is not associated with a value

# yield and return

In [28]:
def ja():
    for i in range(10):
        yield i # it is use to genetare output not returning 1 result
list(ja())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
def ja():
    for i in range(10):
        return i 
ja()

0

# fibonocci series

In [34]:
def fibonocci_series(n):
    a,b=0,1
    i=0
    while i<=n:
        i+=1
        yield a
        a,b=b,a+b
list(fibonocci_series(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [42]:
def fibonocci_series(n):
    x=[]
    a,b=0,1
    i=0
    while i<=n:
        i+=1
        x.append(a)
        a,b=b,a+b
    return x
n=int(input())
fibonocci_series(n)

 100

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075]

# prime numbers

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(25))  # False
print(is_prime(23))  # True

In [ ]:
import sympy

print(sympy.isprime(25))  # False
print(sympy.isprime(23))  # True

# recurrsion

In [2]:
def fact(n):
    if type(n)==int:
        if n==1:
            return 1
        else:
            return n*fact(n-1)
    else:
        return('invalid entry')
fact(9)

362880

In [11]:
def fact(n):
    n=int(n)
    if n==1:
        return 1
    else:
        return n*fact(n-1)
n=input()
fact(n)

 10

3628800

In [39]:
#these codes are not working for large numbers
def feb(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return feb(n-1)+feb(n-2)
feb(5)

5

In [41]:
#these codes are not working for large numbers
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
n=int(input())
x=[]
for i in range(n+1):
    x.append(fibonacci(i))
x

 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# lambda
silglr or multy input but only one output for function (mini fuctions)

## `lambda` Function:

- A `lambda` function in Python is a small, `anonymous function` that is defined using the `lambda keyword` in a `single line of code`.

- It is often `used for short, simple operations` where defining a full function using a normal function definition would be overkill.

- A lambda function `can take any number of arguments` but `can only have a single expression (output)`.

- A lambda function also `accepts the positional arguments`, `keyword arguments` and `variable length arguments (*args and **kwargs)` just like a normal function would do.

In [44]:
m_sum=lambda x,y,z:x+z+y
m_sum(5,6,5)

16

In [45]:
m_dic=lambda *n,**k:{'args':n,'kwargs':k} #args= arguments,kwargs= keyword arguements
m_dic(1,2,3,a=66,b=99)

{'args': (1, 2, 3), 'kwargs': {'a': 66, 'b': 99}}

In [49]:
m_sum=lambda *a:sum(a)

m_sum(1,2,3,4,5)

15

In [51]:
l1=[[1,2],[2,4],[-5,5],[-1,10]]
l1.sort()
l1
#If a key function is given, apply it once to each list item and sort them,ascending or descending, according to their function values.
# in nested lists the 0th element is considered

[[-5, 5], [-1, 10], [1, 2], [2, 4]]

In [3]:
l1=[[1,2],[2,4],[-5,5],[-1,10]]
l1.sort(key=lambda x:x[1]) #nested 1 inxed is used as base to sort
l1

[[1, 2], [2, 4], [-5, 5], [-1, 10]]

In [4]:
l1=[[1,2],[2,4],[-5,5],[-1,10]]
l1.sort(key=lambda x:x[1],reverse=True) #desending order
l1

[[-1, 10], [-5, 5], [2, 4], [1, 2]]

# doc string

In [2]:
def docstring():
    '''write how the function works example of the print function
    
    Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
    
    Docstring:
   
    Prints the values to a stream, or to sys.stdout by default.
    
    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.
    Type:      builtin_function_or_method'''

In [ ]:
docstring() #shift+tab to view docstring

In [5]:
tuple(map(str,'DTR'))

('D', 'T', 'R')

In [36]:
import math
s1='123'
s2='4567'
s3='89'
s4=s1+s2+s3

num=list(map(int,(s4)))
a=math.prod(num)
a

362880

In [32]:
import math
numbers = [1, 2, 3, 4, 5]
product = math.prod(numbers)
print(product)  # Output: 120

120

## `lambda` Function:

- A `lambda` function in Python is a small, `anonymous function` that is defined using the `lambda keyword` in a `single line of code`.

- It is often `used for short, simple operations` where defining a full function using a normal function definition would be overkill.

- A lambda function `can take any number of arguments` but `can only have a single expression (output)`.

- A lambda function also `accepts the positional arguments`, `keyword arguments` and `variable length arguments (*args and **kwargs)` just like a normal function would do.

 ### When to Use lambda Functions:

    - Small, one-time operations: When you need to define a simple function for a short task (e.g., within map(), filter(), or sorted()).

    - Higher-order functions: When passing a function as an argument, and it is only used once.

    - Avoid using lambda for complex functions: If your function involves multiple steps or logic, it's better to use a regular function for better readability and debugging.

- ### Limitations of lambda Functions:

    - Single Expression: Lambda functions can only contain a single expression, so they are not suited for complex logic.

    - Less Readable: Overusing lambda functions in more complex code can make it harder to read and understand, especially for less experienced developers.

In [ ]:
# Sorting using the 2nd positional element in the nested list

 

sort_2nd_lambda = lambda x : x[1]

 

nested_list_2 = [[1, -2], [-1, 22], [3, -4], [-3, 4]]

 

nested_list_2.sort(key = sort_2nd_lambda, reverse = True)

 

nested_list_2

# Filter 

 

### `filter()` Function:

    - The filter() function filters elements from an iterable based on a given condition (a function that returns True or False for each item).

    - It returns an iterator containing only those items that meet the condition (i.e., where the function returns True).

- ### Syntax: `filter(function, iterable)`

    - function: A function that returns a boolean value (True or False).

    - iterable: A collection of items (such as a list, tuple, etc.) to be filtered.

- ### How filter() Works:

    - `filter()` applies the function to each element of the iterable.

    - If the function returns True for an element, that element is included in the result. Otherwise, it is excluded.

    - The result is an iterator, which can be converted into a list, tuple, etc.

# map

```Syntax```:

map(function, iterable) 

```function```: This is the function that will be applied to each item of the iterable. It can be a regular function, a lambda function, or any callable.
```iterable```: One or more iterables (like lists, tuples, or sets) whose elements will be passed to the function.
If multiple iterables are passed, the function must take as many arguments as there are iterables. It will apply the function to the items from the iterables in parallel (element by element).

```How map() Works```:
The map() function applies the function to each item in the provided iterable(s).
The result is a map object, which is an iterator (i.e., it doesn't contain the result immediately but computes it when needed).
To get the result as a list or another collection, you often need to convert the map object using functions like list(), tuple(), etc.

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Using list comprehension
squared_numbers = [x * x for x in numbers]

# Using map()
squared_numbers = map(lambda x: x * x, numbers)

In [37]:
def add(x, y):
    return x + y

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
result = map(add, numbers1, numbers2)

print(list(result))  # Output: [5, 7, 9]

[5, 7, 9]

### `Reduce()` function:

- reduce() function from functools module is used to apply a function repeatedly to accumulate a single data value. A summation is a good example of this process. The first value is added to the second value, then that sum is added to third value, and so on, until the sum of all the values is produced.

 

### Parameters:

- `function`: A callable that takes `two arguments`. It defines how the reduction is performed.

- `iterable`: The data structure to iterate through (or reduce from), like a list or tuple.

- `initial`: initializer - optional. A starting value for the reduction. If provided, it's used as the first argument to the function and other values are iterated from an iterable passed to the function.

In [38]:
from functools import reduce

 

tup_1 = (1, 2, 3, 4, 5, 6, 7)

 

lambda_rdc = lambda x, y : x + y

 

reduce(lambda_rdc, tup_1)

28

In [39]:
# reduce function with initial value

 

reduce(lambda_rdc, tup_1, 10)

38

In [40]:
# Conver a list of temp's which are in celsius to farenheit

 

celsius = [0, 10, 20, 30, 40]

 

fahrenheit = list(map(lambda x: (x * 9/5) + 32, celsius))

 

print("Fahrenheit temp :", fahrenheit)

Fahrenheit temp : [32.0, 50.0, 68.0, 86.0, 104.0]

Data Manipulation:

len(): Get the length of an object (e.g., list, tuple, string).
type(): Determine the type of an object.
id(): Get the memory address of an object.
sorted(): Return a sorted version of an iterable.
zip(): Combine two or more iterables into tuples.
enumerate(): Iterate through a sequence while keeping track of the index.
min() / max(): Find the smallest or largest item in an iterable.
map(): Apply a function to all items in an iterable.
filter(): Filter elements of an iterable based on a function.
reversed(): Reverse the order of items in an iterable.
Mathematical:

abs(): Return the absolute value of a number.
round(): Round a number to a specified number of decimal places.
pow(): Compute the power of a number.
divmod(): Return the quotient and remainder of a division.
all() / any(): Check if all or any elements in an iterable are True.
range(): Generate a sequence of numbers.
sum(): Calculate the sum of an iterable.
mean(): (available in Python 3.8+): Compute the average value.
median(): Find the median value of a dataset.
set(): Create a set of unique elements.
Strings:

str(): Convert an object to a string.
format(): Format strings.
split() / join(): Split a string or join elements into a string.
replace(): Replace parts of a string.
lower() / upper(): Convert strings to lowercase or uppercase.
strip(): Remove whitespace from the beginning and end of a string.
Input or Output:

open(): Open files for reading or writing.
print(): Display output.
input(): Accept user input.
read() / write(): Read from or write to a file.
Data Structure Manipulation:

dict(): Create a dictionary.
list() / tuple() / set(): Convert an object to a list, tuple, or set.
sorted(): Return a sorted list of items.
getattr() / setattr(): Get or set attributes dynamically.
Functional Programming:

map(): Apply a function to all elements in an iterable.
filter(): Filter elements based on a function.
reduce(): Perform a rolling computation (from functools module).
lambda: Create anonymous functions for short tasks.
Some Special Functions:

eval(): Parse and evaluate an expression as Python code.
exec(): Execute dynamically created Python code.
globals() / locals(): Access global or local symbol tables.
Utility and Debugging:

help(): Display documentation for a function or module.
dir(): List attributes of an object or module.
isinstance(): Check the type of an object.
id(): Get the memory address of an object.

- to define a fuction 'def' keyword is used the syntax will be 'def function_name():'
- parameters are the inputs of the function,we can have muti input parameters and they can be predefined and *args and **kwargs is used too
- write what you want to do in the fuction using parameters it is called as body of the function
- add a doc string on how it works
- you can use the fuction_name to call the function

In [43]:
import math
# defining fuction
def prod_name(*n):
    # fuction condition
    return math.prod(n) 
#function calling
prod_name(1,2,3,4,5)

120

In [45]:
def l1(a,b,c,d,e):
    return {'sum of three inputs':a+b+c,'square 4th input':d**2,'sum of 3 elemrnts divided by 5th':(a+b+c)//e}
l1(1,2,3,4,5)

{'sum of three inputs': 6,
 'square 4th input': 16,
 'sum of 3 elemrnts divided by 5th': 1}

In [65]:
def describe_pet(name,typ='animal'):
    return(f'your pet name is {name} and it is a {typ}')
describe_pet('zoro')

'your pet name is zoro and it is a animal'

In [66]:
describe_pet('tommy','lab')

'your pet name is tommy and it is a lab'

In [60]:
def per_info(name,age,height):
    return f'name of the most populer person on bathrooms {name} at the age of {age} his height was {height} and he is a very good person'
per_info('nitish',50,8.8)

'name of the most populer person on bathrooms nitish at the age of 50 his height was 8.8 and he is a very good person'

In [61]:
per_info('lawliet',45,6.6)

'name of the most populer person on bathrooms lawliet at the age of 45 his height was 6.6 and he is a very good person'

- first x is defined as 10
- defined a fuction as modify in the body x is redefined as 5 and printed x
- calling the fuction modify which will give an out of x that is 5
- print(x) is printing the first defined x that is 10